spring:
  application:
    name: hp-be

  datasource:
    url: jdbc:mysql://${SPRING_DATASOURCE_HOST}:3306/hp
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379

jwt:
  secret: ${JWT_SECRET_KEY}
  access-token:
    expire-time: 86400000
  refresh-token:
    expire-time: 259200000


logging:
  level:
    com.zaxxer.hikari: DEBUG